<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head lang="en">

</head>
<body>
	<div class="container">
		<div th:fragment="header">
			<nav class="navbar navbar-default navbar-fixed-top">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" href="#" th:href="@{/}"
							data-toggle="tooltip" aria-label="Inicio" title="Inicio"><span
							class="glyphicon glyphicon-home" aria-hidden="true"></span></a>
					</div>
					<div class="collapse navbar-collapse">
						<ul class="nav navbar-nav">
							<li sec:authorize="hasRole('ADMIN')" class="dropdown"><a
								href="#" class="dropdown-toggle" data-toggle="dropdown"
								role="button" aria-haspopup="true" aria-expanded="false">Seguridad
									<span class="caret"></span>
							</a>

								<ul class="dropdown-menu">
									<!-- 
									<li><a href="#" th:href="@{/working?roles}">Roles</a></li>
									 -->
									<li><a href="#" th:href="@{/usuarios}">Usuarios</a></li>
								</ul></li>

							<li>
								<ul class="nav navbar-nav navbar-right">
									<li sec:authorize="hasAnyRole('ADMIN','SUPERVISOR')"
										class="dropdown"><a href="#" class="dropdown-toggle"
										data-toggle="dropdown" role="button" aria-haspopup="true"
										aria-expanded="false">Reporting <span class="caret"></span></a>
										<ul class="dropdown-menu">
											<li><a href="#" th:href="@{/usuariosPAN}">Usuarios/Pantalla</a></li>
											<!--  <li role="separator" class="divider"></li> -->
											<li><a href="#" th:href="@{/usuariosXLS}">Usuarios/XLS</a></li>
										</ul></li>
								</ul>
							</li>
							<li sec:authorize="hasAnyRole('ADMIN','SUPERVISOR','OPERADOR')">

								<a href="#" th:href="@{/working?otros}">Otros</a>
							</li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li><p class="navbar-text"
									sec:authentication="principal.username"></p></li>
							<li><a class="nav navbar-nav"
								aria-label="Salir" data-toggle="tooltip" title="Salir"
								th:href="@{/logout}"> <span class="glyphicon glyphicon-log-out"></span>
							</a></li>

						</ul>
					</div>
				</div>
			</nav>
		</div>
	</div>
</body>
</html>