<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
</head>
<body>
	<div th:fragment="iglesias">
		<ul class="nav navbar-nav">
			<li><a href="#" onclick="ajaxLoadHTML('#iglesias','/saavedra')">Saavedra</a></li>
			<li><a href="#"
				onclick="ajaxLoadHTML('#iglesias','/villaUrquiza')">Villa
					Urquiza</a></li>
			<li><a href="#"
				onclick="ajaxLoadHTML('#iglesias','/villaPueyrredon')">Villa
					Pueyrredon</a></li>
			<li><a href="#"
				onclick="ajaxLoadHTML('#iglesias','/villaMartelli')">Villa
					Martelli</a></li>
			<li class="active"><a href="#"
				onclick="ajaxLoadHTML('#iglesias','/belgrano')">Belgrano<span
					class="sr-only"></span></a></li>
	 	</ul>
	</div>
</body>
</html>

