<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

</head>
<body>
	<div th:fragment="header">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<th:block th:include="navBarLeftFragment :: navBar"></th:block>
				<!-- Toggling Components -->
				<div class="collapse navbar-collapse"
					id="bs-example-navbar-collapse-1">
					<div id="iglesias">
						<th:block th:id="iglesias"
							th:include="iglesiasFragment :: iglesias"></th:block>
					</div>
					<div id="navBarRight">
						<th:block id="navBarRight" th:id="navBarRight"
							th:include="navBarRightFragment :: navBar"></th:block>
					</div>
				</div>
			</div>
		</nav>
		<script th:src="@{js/navBarAjax.js}"></script>
	</div>
</body>

</html>