<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
</head>
<body>
	<div th:fragment="iglesias">
		<ul class="nav navbar-nav">
			<li><a href="#" onclick="retrieveIglesias('saavedra')">Saavedra</a></li>
			<li><a href="#" onclick="retrieveIglesias('villaUrquiza')">Villa Urquiza</a></li>
			<li><a href="#" onclick="retrieveIglesias('villaPueyrredon')">Villa Pueyrredon</a></li>
			<li><a href="#" onclick="retrieveIglesias('villaMartelli')">Villa Martelli</a></li>
			<li><a href="#" onclick="retrieveIglesias('belgrano')">Belgrano</a></li>
		</ul>
	</div>
</body>
</html>