<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
</head>
<body>
	<nav th:fragment="navBar">
		<ul class="nav navbar-nav navbar-right">
			<li><div id="objetos">
					<th:block th:include="objetosFragment :: objetos"></th:block>
				</div></li>
			<li>
				<nav class="navbar-nav" th:id="search">
					<form class="navbar-form" role="search">
						<div class="form-group">
							<input type="text" class="form-control"
								placeholder="Texto a buscar"></input>
						</div>
						<button type="submit" class="btn btn-default">Buscar</button>
					</form>
				</nav>
			</li>
		</ul>
	</nav>
</body>
</html>