<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<title>Basic Ajax AutotrainingSpring Framework Guru</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />

<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
	th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

<link href="../static/css/css.css" th:href="@{css/css.css}"
	rel="stylesheet" media="screen" />

</head>
<body>
	<div class="container">
		<div class="jumbotron">
			<h1>Hello</h1>

			<h2>Fellow Spring Framework Gurus!!!</h2>
			
			<button id="shotsButton" name="shostsButton" onclick="retrieveShots()" type="button">Query Shots</button>
			<button id="shotsBy1000Button" name="shostsBy1000Button" onclick="retrieveShotsBy1000()" type="button">Query Shots By 1000</button>
		<div id="shotsBlock"></div>
		<div id="shotsBy1000Block"></div>
		</div>
	</div>

</body>
<script type="text/javascript">
	function retrieveShots() {
		var url = '/shots';
		$("#shotsBlock").load(url);
	}
	function retrieveShotsBy1000() {
		var url = '/shotsBy1000';
		$("#shotsBy1000Block").load(url);
	}
</script>
</html>