<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head lang="en">
<title>Simple WebApp MockUp</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<th:block th:include="fragments/headerinclude :: head"></th:block>
</head>

<body>
	<div class="container">
		<div sec:authorize="hasAnyRole('ADMIN','SUPERVISOR','OPERADOR')">
			<th:block th:include="fragments/header :: header"></th:block>
		</div>
<!--

		<div align="center">
			<img src="../static/images/logo.png" width="300"
				th:src="@{images/logo.png}" />
		</div>
-->		
		<div class="jumbotron" align="center">
		
			<h1>Simple WebApp MockUp</h1>
		</div>
		<div sec:authorize="!hasAnyRole('ADMIN','SUPERVISOR','OPERADOR')">
			<th:block th:include="login::loginFragment"></th:block>
		</div>
	</div>
</body>
</html>