<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<th:block th:include="fragments/headerinclude :: head"></th:block>
</head>
<body>
	<div class="container">
		<th:block th:include="fragments/header :: header"></th:block>
		<div class="jumbotron" align="center">

			<div class="row">
				<h1>¿Qué tal hoy nuestro Servicio?</h1>
			</div>
			<div class="row">
				<h3></h3>
			</div>
			<div class="row">
				<div class="col-md-3">
					<form th:action="@{/excelente}">
						<button type="submit" class="btn btn-success btn-lg">
							<div class="row">
								<img class="img-circle" height="200"
									th:src="@{images/great.jpg}" />
							</div>
							<div class="row">
								<h3>
									<span class="label label-success">Excelente!!!</span>
								</h3>
							</div>
						</button>
					</form>
				</div>
				<div class="col-md-3">
					<form th:action="@{/bueno}">
						<button type="submit" class="btn btn-info btn-lg">
							<div class="row">

								<img class="img-circle" alt="" src="../static/images/good.jpg"
									height="200" th:src="@{images/good.jpg}" />
							</div>
							<div class="row">
								<h3>
									<span class="label label-info">Bueno!</span>
								</h3>
							</div>

						</button>
					</form>
				</div>
				<div class="col-md-3">
					<form th:action="@{/regular}">
						<button type="submit" class="btn btn-warning btn-lg">
							<div class="row">

								<img class="img-circle" alt="" src="../static/images/soso.jpg"
									height="200" th:src="@{images/soso.jpg}" />
							</div>
							<div class="row">
								<h3>
									<span class="label label-warning">Regular...</span>
								</h3>
							</div>

						</button>
					</form>
				</div>
				<div class="col-md-3">
					<form th:action="@{/malo}">
						<button type="submit" class="btn btn-danger btn-lg">
							<div class="row">

								<img class="img-circle" alt="" src="../static/images/bad.jpg"
									height="200" th:src="@{images/bad.jpg}" />
							</div>
							<div class="row">
								<h3>
									<span class="label label-danger">Malo.</span>
								</h3>
							</div>
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>

</body>
</html>