<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<!-- 
    <title>Spring Framework Guru</title>
 -->
<!--/*/ <th:block th:include="fragments/headerinclude :: head"></th:block> /*/-->
</head>
<body>

	<div class="container">
		<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

		<!--    <h2>Product Details</h2> -->
		<div class="jumbotron" align="center">
			<div class="row">
				<div class="col-md-3">
					<button type="button" class="btn btn-success btn-lg">
						<a href="#" th:href="@{/excelente}"> <img class="img-circle" alt=""
							src="../static/images/great.jpg" height="200" th:src="@{images/great.jpg}" />
						</a>
					</button>
					<!-- 
				<div class="media">
					<div class="media-middle media-middle">
						<a href="#" th:href="@{/excelente}"> <img
							class="media-object img-rounded" src="../static/images/great.jpg"
							height="120" th:src="@{images/great.jpg}" />
						</a>
					</div>
				</div>
				 -->
				</div>

				<div class="col-md-3">
					<button type="button" class="btn btn-info btn-lg">
						<a href="#" th:href="@{/bueno}"> <img class="img-circle" alt=""
							src="../static/images/good.jpg" height="200" th:src="@{images/good.jpg}" />
						</a>
					</button>
				</div>
				<!-- 
			<div class="col-md-2">
				<div class="media">
					<div class="media-middle media-middle">
						<a href="#" th:href="@{/bueno}"> <img
							class="media-object img-rounded" src="../static/images/good.jpg"
							height="120" th:src="@{images/good.jpg}" />
						</a>
					</div>
				</div>
			</div>
			 -->

				<div class="col-md-3">
				<button type="button" class="btn btn-warning btn-lg">
					<a href="#" th:href="@{/regular}"> <img  class="img-circle" alt=""
						src="../static/images/soso.jpg" height="200" th:src="@{images/soso.jpg}" />
					</a>
				</button>
				</div>
				<!-- 
			<div class="col-md-2">
				<div class="media">
					<div class="media-middle media-middle">
						<a href="#" th:href="@{/regular}"> <img
							class="media-object img-rounded" src="../static/images/soso.jpg"
							height="100" th:src="@{images/soso.jpg}" />
						</a>
					</div>
				</div>
			</div>
			 -->
				<div class="col-md-3">
				<button type="button" class="btn btn-danger btn-lg">
				<img class="img-circle" alt=""
						src="../static/images/bad.jpg" height="200" th:src="@{images/bad.jpg}" />
				<!-- 
					<a href="#" th:href="@{/malo}"> <img alt=""
						src="../static/images/bad.jpg" th:src="@{images/bad.jpg}" />
					</a>
					 -->
				</button>
				</div>
				<!-- 
			<div class="col-md-2">
				<div class="media">
					<div class="media-middle media-middle">
						<a href="#" th:href="@{/malo}"> <img
							class="media-object img-rounded" src="../static/images/bad.jpg"
							height="120" th:src="@{images/bad.jpg}" />
						</a>
					</div>
				</div>
			</div>
			-->
			</div>
		</div>
	</div>

</body>
</html>